In [1]:
import pandas as pd

# Reading Data

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
0      98.223663         1   95          1           1              1
1     101.649980         0   72          1           1              1
2      99.597935         1   33          0           0              0
3     100.423928         1   34          0           0              0
4     101.285923         1    2          1          -1              0
...          ...       ...  ...        ...         ...            ...
2570   98.310907         0   68          0           0              1
2571   98.976009         1   25          0           0              0
2572   98.598454         1   34          1           1              0
2573  101.396926         0    0          1          -1              0
2574   99.033634         1   11          0          -1              0

[2575 rows x 6 columns]

In [4]:
df.head()

        Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
0   98.223663         1   95          1           1              1
1  101.649980         0   72          1           1              1
2   99.597935         1   33          0           0              0
3  100.423928         1   34          0           0              0
4  101.285923         1    2          1          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fever          2575 non-null   float64
 1   BodyPain       2575 non-null   int64
 2   Age            2575 non-null   int64
 3   RunnyNose      2575 non-null   int64
 4   DiffBreath     2575 non-null   int64
 5   InfectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [6]:
df.tail()

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
2570   98.310907         0   68          0           0              1
2571   98.976009         1   25          0           0              0
2572   98.598454         1   34          1           1              0
2573  101.396926         0    0          1          -1              0
2574   99.033634         1   11          0          -1              0

In [7]:
df.describe()

,Fever,BodyPain,Age,RunnyNose,DiffBreath,InfectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,99.971410,0.501748,50.707184,0.508738,0.027184,0.497476
std,1.147004,0.500094,29.291194,0.500021,0.805984,0.500091
min,98.001686,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,98.965908,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.936026,1.000000,51.000000,1.000000,0.000000,0.000000
75%,100.976979,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999193,1.000000,100.000000,1.000000,1.000000,1.000000

In [8]:
df['Fever'].value_counts()

100.251032    1
98.706857     1
101.987103    1
101.454025    1
100.153239    1
             ..
101.871685    1
98.129372     1
101.007759    1
99.939596     1
100.194967    1
Name: Fever, Length: 2575, dtype: int64

In [9]:
df['DiffBreath'].value_counts()

 0    901
 1    872
-1    802
Name: DiffBreath, dtype: int64

# Train Test Split

In [10]:
import numpy as np

In [21]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled =np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [22]:
train, test = data_split(df,0.2)

In [23]:
train

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
1703  101.020787         1   30          0           0              0
1675   99.258210         0   98          1          -1              0
1518  101.588395         0   19          1           1              0
361    98.172617         1   26          0          -1              1
1544   98.385669         0   10          1           0              0
...          ...       ...  ...        ...         ...            ...
1638   99.398804         1   26          0           0              0
1095  100.813362         1   60          1           0              1
1130  101.831077         1   73          1          -1              1
1294   99.498373         1   45          0           0              0
860    98.781762         0    4          1          -1              1

[2060 rows x 6 columns]

In [24]:
test

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProb
1644  100.988769         1   19          0          -1              1
1189  101.278213         0   73          0           0              0
495    99.312519         1   32          0           1              1
1656  100.192676         0   86          0           0              0
651    99.647940         0   30          0           0              1
...          ...       ...  ...        ...         ...            ...
1627   99.045379         1    3          0          -1              1
471    98.667956         1   87          0           0              1
700   100.064998         0   71          0           1              1
25    100.314577         1    8          1          -1              0
755    98.639451         0   40          0           0              0

[515 rows x 6 columns]

In [45]:
x_train = train[["Fever","BodyPain", "Age", "RunnyNose", "DiffBreath"]].to_numpy()
x_test = test[["Fever","BodyPain", "Age", "RunnyNose", "DiffBreath"]].to_numpy()

In [46]:
y_train = train[["InfectionProb"]].to_numpy().reshape(2060 ,)
y_test = test[["InfectionProb"]].to_numpy().reshape(515 ,)

In [44]:
y_test

array([1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0], dtype=int64)

# Logistic Regresssion

In [49]:
from sklearn.linear_model import LogisticRegression

In [50]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [51]:
inputfeature =[100, 1, 22, 1, 1]
infprob = clf.predict_proba([inputfeature])[0][1]

In [52]:
infprob

0.48576564615107665